DEBUG = True

# Database
# https://docs.djangoproject.com/en/1.9/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': '',  
        'USER': '',        
        'PASSWORD': '',         
        'HOST': '',            
        'PORT': '',           
    },
}
