{% extends "home/base.html" %}

{% load wagtailcore_tags home_tags %}

{% block body_class %}template-newssheetindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    <hr>

    {% for tag in page.tags.all %}z
<a href="{% pageurl page.newssheet_index %}?tag={{ tag }}">{{ tag }}</a>
{% endfor %}
    <hr>

{% for tag in all_tags %} xxx
    {{ tag.tag }}
    {% endfor %}
    <hr>
    <ul>
    {% for ns in page.newssheets %}
        <li><a href="{{ ns.url }}">{{ ns.title }}</a> {{ ns.date|date:"d.m.Y" }}</li>
    {% endfor %}
    {% for ns in newssheets %}
        <li>tag: <a href="{{ ns.url }}">{{ ns.title }}</a> {{ ns.date|date:"d.m.Y" }}</li>
    {% endfor %}
    </ul>
{% comment %}
{% newssheet_listing_homepage %}
    <hr>
{% endcomment %}

{#  {% for page in self.child_pages %}#}
{#  {{ page.title }}#}
{#  {% image page.representative_image width-400 %}#}
{#  {% endfor %}#}

    {% if page.related_links.all %}
        <ul>
            {% for item in page.related_links.all %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
