{% extends "home/base.html" %}

{% load wagtailcore_tags home_tags %}

{% block body_class %}template-newssheetindexpage{% endblock %}

{% block content %}
<style type="text/css">
li.newssheet.not-public a, li.newssheet.not-public {
    color: #ccc;
}
</style>
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

{% comment %}
{% for tag in page.tags.all %}
<a href="{% pageurl page.newssheet_index %}?tag={{ tag }}">{{ tag }}</a>
{% endfor %}
{% endcomment %}

    <ul>
{% comment %}
    {% for ns in page.newssheets %}
        <li><a href="{{ ns.url }}">{{ ns.title }}</a> {{ ns.date|date:"d.m.Y" }}</li>
    {% endfor %}
{% endcomment %}
    {% for ns in newssheets %}
        {% if ns.public %}
        <li class="newssheet public"><a href="{{ ns.url }}">{{ ns.title }}</a> ({{ ns.date|date:"d.m.Y" }})</li>
        {% else %}
        <li class="newssheet not-public"><a href="{{ ns.url }}">{{ ns.title }}</a> ({{ ns.date|date:"d.m.Y" }})</li>
        {% endif %}
    {% endfor %}
    </ul>
<h2>Suosituimmat tunnisteet</h2>
<ul>{% for tag in all_tags %}
    <li><a href="?tag={{ tag.tag__name }}">{{ tag.tag__name }} ({{ tag.occurrences }})</a></li>
{% endfor %}</ul>
    {% comment %}
{% newssheet_listing_homepage %}
    <hr>
{% endcomment %}

{#  {% for page in self.child_pages %}#}
{#  {{ page.title }}#}
{#  {% image page.representative_image width-400 %}#}
{#  {% endfor %}#}

    {% if page.related_links.all %}
        <ul>
            {% for item in page.related_links.all %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
